*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
a{
    color: #593085;
    font-weight: 600;
    text-decoration: none;
}

p{
    margin: 10px 0;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #efefef;
    border-radius: 10px;
    position: relative;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
}


.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.input-group label{
    flex-basis: 30%;
}

.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: #aa0014;
}

.input-group input{
    flex-basis: 70%;
    border: unset;
    background-color: #e3e3e3;
    border-bottom: 2px solid #593085;
    outline: none;
    font-size: 16px;
}

#submit-error{
    font-size: 14px;
    color: #aa0014;
}

form button{
    background: #593085;
    border: 2px solid #593085;
    border-radius: 15px;
    padding: 10px 30px;
    outline: 0;
    color: white;
    display: block;
    margin: 10px auto 10px;
}